body {
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.App {
    text-align: center;
}

.appbar {
    height: 90px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.logo {
    height: 80px;
    width: 210px;
    margin-bottom: 5px;
}

.dashboard-container {
    height: 550px;
    width: 60%;
    margin: 100px auto
}

.title {
    padding-top: 30px;
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-weight: bold;
    color: #005188
}

.dashboard {
    width: 85%;
    margin: 40px auto;
    background-color: white;
}

.active {
    border-left: 2px solid lightgray;
    border-right: 2px solid lightgray;
}

.booked {
    border-left: 2px solid lightgray;
    border-right: 2px solid lightgray;
    background-color: #ffb2b2;
}
